h1 {
	color : black;
	text-align : center;
}
body{
    background: url(meme.png);
}
div#memory_board{
	background : gray;
	border : #999 10px solid;
	width : 850px;
	height : 540px; 
	padding : 24px;
	margin : 0px auto;
}
div#memory_board > div {
	background : yellow;
	border : #000 5px solid;
	width : 71px;
	height : 71px;
	float : left;
	margin : 10px;
	padding : 20px;
	font-size : 64px;
	cursor : pointer;
	text-align : center;
}
div > img  {
   width: 75px;
   height: 75px;
  
}